
input {
  flex-shrink: 0;
  border-radius: 5px;
  border: 1.4px solid #303131;
  --tw-bg-opacity: 1;
  background-color: rgb(20 21 30 / var(--tw-bg-opacity));

  width: 35%;
  margin-left: 34vw;
  border-radius: 10px;
  height: 45px;
  color: white;
}

.form-input {
  margin-top: 15px;
}

input::placeholder {
  padding-left: 10px;
}

.message{
    width: 35%;
  margin-left: 34vw;
  border-radius: 10px;
  height: 52px;
  font-size:20px;
}

.footer{
    display:flex;justify-content:center;margin-top:5vw;margin-left:3.2vw;
}
